<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-autostart"
    version="0.0.1"
    name="Autostart"
    value="com.everycrave.autostart">
    <name>Auto Start</name>
    <description>Cordova AutoStart Plugin</description>
    <js-module src="www/autostart.js" name="autostart">
        <clobbers target="autostart" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="autostart" >
                <param name="android-package" value="com.everycrave.autostart"/>
            </feature>
        </config-file>

        <source-file src="src/android/Autostart.java" target-dir="src/com/everycrave/autostart" />
    </platform>
</plugin>